/JavaApplication3/nbproject/private/
/JavaApplication4/nbproject/private/
/1stClass/nbproject/private/
/1stClass/build/
/1stClass/dist/
/UserScanner/nbproject/private/
/UserScanner/build/
/UserScanner2/nbproject/private/
/ConvertMinutes/nbproject/private/
/ConvertMinutes/build/
/imranVai/nbproject/private/
/imranVai/build/
/rediusPI/nbproject/private/
/CurrentTime/nbproject/private/
/CurrentTime/build/
/prac1num/nbproject/private/
/CalculatInterest/target/
/prac1num/build/
/prac2TimeCal/nbproject/private/
/classTask/nbproject/private/
/classTask/build/
/rediusPI/build/
/ClassTask2/nbproject/private/
/ClassTaskSirSolve/nbproject/private/
/ClassTaskSirSolve/build/
/ClassTask2/build/
/ImranVaiCircle/nbproject/private/
/VowelConso/nbproject/private/
/VowelConso/build/
/CalculatorSwitch/nbproject/private/
/CalculatorSwitch/build/
/VowelCoso2/nbproject/private/
/Game/nbproject/private/
/Game/build/
/Game2/nbproject/private/
/Game2/build/
/ConvertTime2/nbproject/private/
/ConvertTime2/build/
/DharonarKhela/nbproject/private/
/DharonarKhela/build/
/VowConSir/nbproject/private/
/VowConSir/build/
/VowConWhile/nbproject/private/
/LearnStrim/nbproject/private/
/VowConWhile/build/
/LearnStrim/build/
/VowelCoso2/build/
/GuessNUmberTime/nbproject/private/
/FactorialUsingWhile/nbproject/private/
/FactorialUsingWhile/build/
/PrimeNumForLoop/nbproject/private/
/PrimeNumForLoop/build/
/PrimeNumber1/nbproject/private/
/PrimeNumber1/build/
